/* Both Feedback & Add Restaurant Modal */
#feedback_modal{
    background-color: whitesmoke;
    width: clamp(275px, 40vw, 400px);
}

.feedback_form, .add_restaurant_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 3%;
}

/* Feedback Modal */
.close_feedback_btn {
    all:unset;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: clamp(5px, 3vw, 15px);
    font-size: 25px;
}

.feedback_star {
    all: unset;
    cursor: pointer;
    font-size: clamp(28px, 5vw, 50px);
}

textarea.feedback_text {
    border-color: gray;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    min-height: clamp(150px, 10vh, 250px);
}

.feedback_submit_btn {
    color: white;
    background-color: steelblue;
    font-weight: 550;
    margin-top: 10px;
}

/* Add Restaurant Modal */
#add_restaurant_modal {    
    width: clamp(350px, 40vw, 700px);
    height: clamp(400px, 70vh, 1000px);
    overflow-y: auto;
}

.add_restaurant_form input::placeholder, .add_restaurant_form textarea::placeholder {
    color: red;
}