/* Tile Cuisine Filters */
.filters {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 10px 2vw 0 2vw;
    padding-bottom: 10px;
    gap: 10px;
}

.cuisine_filter {
    flex: 1 1 7vw;     
    flex-shrink: 0;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    background-color: gainsboro;
    border-radius: 35%;
    white-space: nowrap;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.2);
}

.cuisine_filter_text {
    text-align: center;
    font-weight: 500;
}


.search_n_sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2vw 0 2vw;
    gap: 20px;
}

/* Search */
.search_form {
    position: relative;
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.restaurant_search_icon {
    position: absolute;
    left: 10px;
}

.restaurant_search_input {
    height: 3vh;
    width: 35vw;
    padding-left: 30px;
}

/* Sort */
.sort {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sort_dropdown {
    all: unset;
    font-size: 30px;
    transform: translate(0%, -5%)
}