.specifiers {
    display: grid; 
    grid-template-columns: 8.5fr 1.5fr;
    align-items: center;
}

/* Tile Cuisine Filters */
.filters {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
    padding-left: 10px;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.cuisine_filter {
    cursor: pointer;
    flex: 1 1 7vw;     
    flex-shrink: 0;
    border-radius: 16px;
    white-space: nowrap;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.2);
}

.cuisine_filter_text {
    all: unset;
    padding: 2px 2px;
    text-align: center;
    font-weight: 500;
}

/* Sort */
.sort {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
    font-size: 18px;
    position: relative;
}

.sort_dropdown {
    all: unset;
    cursor: pointer;
}

.sort_dropdown_popup {
    z-index: 1;
    position: absolute;
    top: 50px;
    background-color: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
    padding: 0 1vw 0 1vw;
}

.sort_dropdown_popup_option {
    padding: 2px;
}

.sort_dropdown_popup_option:hover {
    background-color: #a5ccf9;
}