:root {
    --header-font-size: clamp(10px, 2vw, 20px);
    --header-text-color: white;
    --header-color: #66101F;
    --secondary-header-bolor: #2E4053;
    --body-bg-color: white;
    --auth-container-bg-color: white;
}

