/* All Headers */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: var(--header-font-size);
    background-color: var(--header-color);
    color: var(--header-text-color);
}

/* Auth Header */
header.auth_header {

}

/* Primary Header */
header.primary_header {
    position: relative;
}

.account {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: clamp(7px, 3vw, 40px);
}

.page_nav {
    align-self: flex-end;
    font-size: clamp(8px, 8vh, 80px);
    padding-bottom: 1vh;
    cursor: pointer;
}

@keyframes fade_in {
    from {opacity: 0; }
    to {opacity: 1; }
}

#page_nav_popup {
    position: absolute;
    top: 60%;
    right: 0%;
    z-index: 1;
    color: #222223;
    font-weight: 500;
    background-color: whitesmoke;
    padding: 2%;
    box-shadow: 6px 6px 12px rgb(0, 0, 0, 0.5);
    border-radius: 5%;
    animation: fade_in 0.5s ease-in-out;
}

.page_nav_option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.page_nav_option:hover, .page_nav_option:active {
    cursor: pointer;
    color: black;
    font-weight: 600;
    background-color: #e4d6d7;
    border: 2px solid black;
    border-radius: 3%;
    box-shadow: 6px 6px 12px rgb(133, 90, 92, 0.5);
    padding-left: 2%;
}

.avatar_img {
    background-color: white;
    border-radius: 50%;
}
.page_nav_option_img {
    height: 2.5rem;
    background-color: transparent;
}

.header_btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.friend_btn {
    height: 50px;
    width: 100px;
}

.friend_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.friend_toggle_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    background-color: lightgray;
    gap: 3px;
    border-radius: 10px;
}

.friend_toggle_btn {
    appearance: none;
    background: none;
    border: none;
    padding: 6px 8px;
    border-radius: 15px;
    font-weight: bold;
}

/* Tooltip */
.tooltip_custom {
  position: relative;
  display: inline-block;
}

.tooltip_custom .tooltip_custom_text {
  display: none;
  position: absolute;
  background-color: #7393B3;
  color: white;
  width: 100px;
  text-align: center;
  z-index: 10;
  bottom: -50%;
  left: -100%;
  margin-left: -4vw;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10%;
}

.tooltip_custom .tooltip_custom_text::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 105%;
  margin-left: -5px;
  border-width: 5px;
  transform: rotate(270deg);
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip_custom:hover .tooltip_custom_text {
  display: block;
}